.nav {
  background: #F55A5A;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav img {
  height: 24px;
  margin-right: 7px;
}

.nav h1 {
  font-size: 14.5px;
  font-weight: 500;
}

/* CARD */

.cards-list {
  padding: 40px;
}

.card {
  display: flex;
  margin-bottom: 36px;
}

.card-image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  object-fit: cover;
}

.card-content {
  padding-left: 20px;
}

.card-location {
  display: flex;
  align-items: center;
  font-size: 10px;
  margin-bottom: 7px;
}

.card-location a {
  margin-left: 12px;
  color: #918E9B;
  text-decoration: underline;
}

.country {
  letter-spacing: 0.17em;
  margin-left: 4px;
}

.card h2 {
  font-size: 25px;
  margin-bottom: 14px;
}

.date {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 9px;
}

.description {
  font-size: 10px;
  line-height: 150%;
}
