*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #282D35;
  color: white;
}


header {
  height: 100px;
  background-color: #21222A;
  padding: 30px 25px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  height: 100%;
}

nav > img{
  margin-right: 10px;
}

nav > h1{
  color: #61dafb;
  font-size: 23px;
  font-weight: 700;
}



main{
  background-color: #282D35;
  color:white;
  padding: 60px 30px;

}

main > h1{
  margin:0 px;
  font-size:30px;
}

ul{
  margin-top: 46px;
  max-width: 400px;
  font-size: 20px;
}

ul > li{
  padding-block: 10px;
  line-height: 19px;
}

ul > li::marker{
  color: #61dafb;
  font-size: large;
}