* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #f7ede8;
}

header {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 11px;
    height: 80px;
    background-color: rgb(251, 244, 244);
}
    
header > img {
    width: 50px;
}

